@font-face {
  font-family: Niran;
  src:url(fonts/Niran.ttf);
}
@font-face {
  font-family: DarkFut;
  src:url(fonts/DarkFuture.ttf);
}
@font-face {
  font-family: trashBrut;
  src:url(fonts/TrashBrutus.ttf);
}
html, body {
  margin: 0;
  padding:0;
  cursor: url('https://i.imgur.com/SnJ5tPg.gif'), auto;
  background-color: DimGray;
  
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

li a {
  display: block;
}
.text{
  color:#5138f5;
   font-family: Niran;
  font-size:16px;
}
.fillText{
  color:#5138f5;
   font-family: Arial, Helvetica, sans-serif;
}
.nametext{
  padding-left:5px;

  font-family: Niran;
 font-size:20px; 
}
.statText{
color:#ADFF2F;
padding: 5px;  
font-family: trashBrut;
  font-size:36px;
}
canvas {
  display: block;
}
.contactTable{
  background-color:#ADFF2F;
}

a:link {
  color: darkgray;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #5138f5;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: plum;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: deeppink;
  background-color: transparent;
  text-decoration: underline;
}
.container{
    width: 70%;
    
}
